.audioEle {
  display: none;
}
.musicPlayer {
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  background-color: #121212;
  box-shadow: 0 -1px 5px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  gap: 15px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.songContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.songMedia {
  width: 140px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.songImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.songTitle,
.songAlbumName,
.songArtistName {
  margin: 0;
}

.songTitle {
  margin-bottom: 10px;
  border-bottom: 1px solid #34c94b;
  font-weight: 600;
  font-size: 1.2rem;
}
.songAlbumName {
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.songArtistName {
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: 0.7;
}

.songVolumeControl {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 150px;
  gap: 10px;
}
.songVolumeNum {
  margin: 0;
  color: #34c94b;
  font-size: 12px;
}

.songIcon:hover {
  cursor: pointer !important;
}

.songController {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.songControllerMobile {
  display: none;
}

.songPausePlayStop {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.songDuration_Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 90%;
}

.songTimer {
  font-size: 12px;
  width: 10%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .songControllerDesktop {
    display: none;
  }
  .songControllerMobile {
    display: flex;
  }
  .songDetails {
    gap: 10px;
  }
  .musicPlayer {
    padding: 20px;
  }
  .songContent {
    gap: 2rem;
  }
}
