.btn {
  box-sizing: border-box;
  width: 100%;
  min-height: 47px;
  border-radius: 10px;
  border: 1px solid #121212;
  padding: 10px;
  background-color: #121212;
  color: #34c94b;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.25px;
}
.btn:hover {
  color: #72cc80;
}
